{% extends 'base.html' %}

{% block header %}
    <title>{{ user.get_username }}'s Items</title>
    <meta name="description" content="Favorite items.">
{% endblock %}
{% block content %}
    <h1 style="color: #c00404;">Save a <a href="https://repository.library.brown.edu/studio/"  target="_blank">BDR</a> Favorite</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
		{% if field.help_text %}<br>
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Save</button>
    </form>
    <h1 style="color: #c00404;">Favorite Items</h1>
    {% for favorite in favorites %}
        <div class="favorite">
            <a href="{{ favorite.item.uri }}" target="_blank"><img src='{{ favorite.item.thumbnail }}'></a>
            <p>
                <b>Title:</b> {{ favorite.item.title }}
            </p>
            <p>
                <b>BDR ID:</b> <a href="{{ favorite.item.uri }}" target="_blank">{{ favorite.item.bdr_id }}</a>
            </p>
            <p>
                <b>Description:</b> {{ favorite.item.description }}
            </p>
            <p>
                <b>Access:</b> {{ favorite.access }}
            </p>
            <p>
                <b>Date Favorited:</b> {{ favorite.added }}
            </p>
            <p>
                <b>Notes:</b> {{ favorite.notes }}
            </p>
        </div>
        <br>
    {% endfor %}
    <p class="parenthetical">(Add "?format=json" to this url to see the data sent to the page.)</p>
    <p><a href="{% url 'logout_url' %}">Log out</a></p>
{% endblock %}
